.navbar {
  display: flex;
  flex-direction: row;
  background-color: coral;
  height: 80px;
  position: fixed;
  top: 0;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  color: white;
  gap: 800px;
  z-index: 5;
}

.logo {
  width: 80px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: #ff8d53;
  width: 300px;
  position: fixed;
  top: 80px;
  align-items: center;
  gap: 10px;
}

.side-bar a {
  margin-top: 10px;
}

.side-button {
  color: white;
  width: 200px;
  margin: 10px;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: rgb(55, 51, 51);
  align-content: center;
  text-align: center;
}

.footer a {
  color: white;
}

.RenderPage {
  position: absolute;
  top: 80px;
  left: 300px;
  bottom: 50px;
  padding-bottom: 50px;
}

.RecipePage {
  margin-left: 30px;
  margin-top: 30px;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  text-align: center;
  padding-bottom: 55px;
}

.ItemImage {
  width: 150px;
  height: 150px;
}
